#footer {
  overflow: hidden;
  background: #fffbee;
  padding-top: 0.5rem;
  padding-bottom: 2rem;

  .play_store {
    cursor: pointer;
  }

  .footer_text {
    color: #1d2939;
    letter-spacing: 0.02em;
    font-weight: 400;
font-size: 16px;
  }
}
