#industry {
  overflow: hidden;
  padding-top: 2.5rem;
  padding-bottom: 8rem;
  background-color: #fff;
  position: inherit;

  .card {
    margin: 0 1rem;
    border: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }

  .card-body {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }

  .card:hover .card-body {
    height: 100%;
    transition: all ease-in;
    -webkit-transition: all ease-in;
    -moz-transition: all ease-in;
    -ms-transition: all ease-in;
    -o-transition: all ease-in;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }

  .name {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
  }

  .design {
    color: #d0d5dd;
    font-weight: 500;
    font-size: 11px;
  }

  img {
    object-fit: cover;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }

  // slick slider

  .slick-next:before,
  .slick-prev:before {
    color: #ffab00;
    font-size: 30px;
  }

  .slick-prev {
    left: -34px;
  }

  .slick-dots li button:before {
    font-size: 8px;
  }

  .slick-dots li.slick-active button:before {
    color: #ffab00;
    font-size: 12px;
  }
  .slick-slider .slick-list,
  .slick-slider .slick-track {
    margin-bottom: 0.5rem;
  }
}
