@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body{
  font-family: 'Hind Siliguri', sans-serif;

}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}